.character {
  margin: 1em;
}
.character-description {
  width: 100%;
  background: transparent;
  resize: none;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 1em;
  padding: 0.3em;
}
table tr {
  border: 1px solid black;
  padding: 0.3em;
}
table td {
  border: 1px solid black;
  padding: 0.3em;
}
table th {
  border: 1px solid black;
  padding: 0.3em;
}
dl dt {
  font-weight: bold;
}
table img {
  vertical-align: middle;
}

.character-text-input {
  background: transparent;
  border: none;
  margin-bottom: 0.5em;
}

.character-num-input {
  background: transparent;
  border: none;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  width: 3em;
}

.character-text.character-text {
  margin: 0.5em;
}