.game-feed {
  flex: 30%;
  background-color: #404040;
  color: white;
}

.feed-title {
  padding-left: 0.5em;
  display: inline-block;
  vertical-align: middle;
}

.feed-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0.5em;
  display: block;
}

.feed-form { 
  display: flex;
  width: 30%;
  background: #1111113b;
  padding: 0.25rem;  
  height: 3rem; position: 
  absolute; bottom: 0;
  box-sizing: 
  border-box; 
}

.feed-input { 
  border: none; 
  padding: 0 1rem; 
  border-radius: 2rem; 
  margin: 0.25rem;
  flex-grow: 1;
}
.feed-input:focus { 
  outline: none; 
}
.feed-form > button { 
  background: #444444; 
  border: none;
  padding: 0 1rem;
  margin: 0.25rem; 
  border-radius: 3px;
  outline: none; 
  color: #fff; 
}