.game-feed {
  grid-column: 3;
  background-color: #404040;
  color: white;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  height: 100vh;
}

@media screen and (max-width:768px){
  .game-feed {
    grid-column: 1 / 4;
  }
}

.header {
  grid-row: 1;
}

.body {
  grid-row: 2;
  overflow-y: auto;
}

.footer {
  grid-row: 3;
}

.feed-title {
  padding-left: 0.5em;
  display: inline-block;
  vertical-align: middle;
}

.feed-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0.5em;
  display: block;
}

.feed-form { 
  display: flex;
  background: #1111113b;
  padding: 0.25rem;  
  height: 3rem;
  box-sizing: border-box; 
}

.feed-input { 
  padding: 0 1rem; 
  border-radius: 2rem; 
  margin: 0.25rem;
  flex-grow: 1;
}
.feed-input:focus { 
  outline: none; 
}
.send-button { 
  background: #444444; 
  border: none;
  padding: 0 1rem;
  margin: 0.25rem; 
  border-radius: 3px;
  color: #fff; 
}#feed-dice {
  margin-top: 0.25rem;
  filter: invert(0.8);
}