.user-form {
  display: inline-block;
}
input {
  background-color: inherit;
  border: none;
  padding-left: 1em;
  color: inherit;
  font-size: larger;
  vertical-align: middle;
}
img {
  padding-left: 1em;
  vertical-align: middle;
}
p {
  vertical-align: middle;
}