#root, body, div {
  height: 100vh;
}
.App {
  display: flex;
  align-items: left;
}

.App-canvas {
  flex: 70%;
  background-color: #BBBBBB;
}

.App-game-feed {
  flex: 30%;
  background-color: #404040;
  text-align: center;
  font-size: larger;
}

#feed-form { 
  display: flex;
  width: 30%;
  background: #1111113b;
  padding: 0.25rem;  
  height: 3rem; position: 
  absolute; bottom: 0;
  box-sizing: 
  border-box; 
}

#feed-input { 
  border: none; 
  padding: 0 1rem; 
  border-radius: 2rem; 
  margin: 0.25rem;
  flex-grow: 1;
}
#feed-input:focus { 
  outline: none; 
}
#feed-form > button { 
  background: #444444; 
  border: none;
  padding: 0 1rem;
  margin: 0.25rem; 
  border-radius: 3px;
  outline: none; 
  color: #fff; 
}